/* Fonts */
@font-face {
  font-family: 'Calisto-MT';
  src: url(../fonts/Calisto-MT.ttf);
}

@font-face {
  font-family: 'Calisto-MT-Italic';
  src: url(../fonts/Calisto-MT-Italic.ttf);
}

@font-face {
  font-family: 'Calisto-MT-Bold';
  src: url(../fonts/Calisto-MT-Bold.ttf);
}

/* Colors */
/* Universal style */
* {
  margin: 0;
  padding: 0;
  font-family: "Calisto-MT";
}

.site-container {
  width: 1115px;
  margin: 0 auto;
}

@media (max-width: 1250px) {
  .site-container {
    width: 90%;
  }
}

.universal-h2 {
  font-size: 48px;
  text-align: center;
  color: #222;
}

@media (max-width: 1250px) {
  .universal-h2 {
    font-size: 38px;
  }
}

@media (max-width: 668px) {
  .universal-h2 {
    font-size: 30px;
  }
}

.universal-h2-bckg {
  background-image: url("../images/double-line.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
}

/* Universal style end */

.nav-link{
  margin: 0 20px;
}

.fh5co-top-banner {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: flex-end;
  background-image: url("../images/top-banner-bckg.jpg");
  background-position: center;
  background-size: cover;
}

.top-banner__image img {
  width: 500px;
}

.fh5co-top-banner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.9;
}

.fh5co-top-banner .site-container {
  position: relative;
  z-index: 1;
}

@media (max-width: 1600px) {
  .fh5co-top-banner {
    padding-top: 180px;
  }
}

@media (max-width: 1250px) {
  .fh5co-top-banner {
    padding-top: 130px;
  }
}

@media (max-width: 520px) {
  .fh5co-top-banner {
    padding-top: 105px;
  }
}

@media (min-width: 1600px) {
  .fh5co-top-banner {
    min-height: 100vh;
  }
}

.top-banner__inner {
  display: flex;
  align-items: center;
}

.top-banner__inner .top-banner__text {
  margin-left: 54px;
}

@media (max-width: 1250px) {
  .top-banner__inner .top-banner__text {
    width: 35%;
  }
}

@media (max-width: 768px) {
  .top-banner__inner .top-banner__text {
    width: 50%;
    margin-left: 20px;
  }
}

@media (max-width: 520px) {
  .top-banner__inner .top-banner__text {
    width: 65%;
    margin-bottom: 20px;
    margin-left: 0;
  }
}

.top-banner__inner .top-banner__text p {
  margin-bottom: 42px;
  color: #777;
}

@media (max-width: 768px) {
  .top-banner__inner .top-banner__text p {
    margin-bottom: 25px;
    font-size: 14px;
  }
}

.top-banner__inner .top-banner__h2 {
  font-size: 74px;
  letter-spacing: 3px;
  color: #fff;
  font-family: "Calisto-MT-Bold";
}

@media (max-width: 1250px) {
  .top-banner__inner .top-banner__h2 {
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  .top-banner__inner .top-banner__h2 {
    font-size: 35px;
  }
}

.top-banner__inner .top-banner__text-up .top-banner__h2 {
  margin-top: 15px;
}

@media (max-width: 768px) {
  .top-banner__inner .top-banner__text-up .top-banner__h2 {
    margin-top: 0;
  }
}

.top-banner__inner .top-banner__text-down {
  margin-bottom: 20px;
  padding-left: 27%;
}

.top-banner__inner .top-banner__text-down .top-banner__h2 {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .top-banner__inner .top-banner__text-down .top-banner__h2 {
    margin-bottom: 0;
  }
}

.top-banner__inner .top-banner__image {
  font-size: 0;
}

@media (max-width: 1250px) {
  .top-banner__inner .top-banner__image {
    width: 50%;
  }

  .top-banner__inner .top-banner__image img {
    width: 100%;
  }
}

@media (max-width: 520px) {
  .top-banner__inner .top-banner__image {
    width: 65%;
    margin-bottom: 20px;
  }
}

@media (max-width: 520px) {
  .top-banner__inner {
    flex-direction: column;
  }
}

.brand-span {
  font-size: 14px;
  color: #c18f59;
}

.brand-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
  color: #c18f59;
  border: 1px solid #fff;
  transition: 0.3s ease;
}

.brand-button:hover,
.brand-button:focus {
  color: #777;
}

.fh5co-about-me {
  position: relative;
  margin: 193px 0 199px;
}

@media (max-width: 1250px) {
  .fh5co-about-me {
    margin: 150px 0;
  }
}

@media (max-width: 992px) {
  .fh5co-about-me {
    margin: 125px 0;
  }
}

.about-me-bckg {
  position: absolute;
  background-image: url("../images/about-me-bckg.jpg");
  background-position: center;
  background-size: cover;
  height: 500px;
  top: -75px;
  right: 0;
  height: calc(100% + 150px);
  width: 70%;
  z-index: -1;
}

.about-me-bckg:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
}

@media (max-width: 992px) {
  .about-me-bckg {
    width: 100%;
    padding-bottom: 15px;
  }
}

.about-me-inner {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .about-me-inner {
    flex-direction: column;
    align-items: center;
  }
}

.about-me-slider {
  position: relative;
}

.about-me-slider .slick-arrow {
  position: absolute;
  bottom: -18%;
}

.about-me-slider .slick-prev {
  left: 40%;
}

@media (max-width: 520px) {
  .about-me-slider .slick-prev {
    left: 34%;
  }
}

.about-me-slider .slick-next {
  right: 40%;
}

@media (max-width: 520px) {
  .about-me-slider .slick-next {
    right: 34%;
  }
}


.portfolio-wrapper {
  width: 390px;
  padding: 8px;
  text-align: center;
  background-color: #fff;
}

.portfolio-wrapper .portfolio__img {
  font-size: 0;
}

.portfolio-wrapper .portfolio__img img {
  width: 100%;
}

.portfolio-wrapper .portfolio__bottom {
  padding: 35px 0 95px;
  background-color: #f5f5f5;
}

@media (max-width: 992px) {
  .portfolio-wrapper .portfolio__bottom {
    padding: 25px 0;
  }
}

.portfolio-wrapper .portfolio__name {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 23px;
}

@media (max-width: 992px) {
  .portfolio-wrapper .portfolio__name {
    margin-bottom: 10px;
  }
}

.portfolio-wrapper .portfolio__name span {
  font-size: 90px;
  line-height: 75px;
  color: #c18f59;
  font-family: "Calisto-MT-Bold";
}

@media (max-width: 992px) {
  .portfolio-wrapper .portfolio__name span {
    font-size: 65px;
    line-height: 62px;
  }
}

.portfolio-wrapper p {
  padding: 0 10%;
  line-height: 25px;
  font-style: italic;
  color: #777;
}

@media (max-width: 620px) {
  .portfolio-wrapper p {
    font-size: 15px;
    line-height: 20px;
  }
}

@media (max-width: 992px) {
  .portfolio-wrapper {
    margin-bottom: 20px;
  }
}

@media (max-width: 620px) {
  .portfolio-wrapper {
    width: 250px;
  }
}

.about-me__text {
  width: 44%;
  margin-right: 80px;
  text-align: center;
}

.about-me__text .universal-h2 {
  color: #fff;
  padding-bottom: 20px;
  margin-bottom: 25px;
}

.about-me__text p {
  margin-top: 70px;
  margin-bottom: 70px;
  line-height: 24px;
  color: #c18f59;
}

.about-me__text p span {
  font-size: 48px;
  color: #fff;
}

@media (max-width: 620px) {
  .about-me__text p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 19px;
  }
}

.about-me__text h4 {
  margin-bottom: 7px;
  font-size: 25px;
  color: #c18f59;
}

.about-me__text .p-white {
  margin-bottom: 0;
  color: #fff;
}

@media (max-width: 1250px) {
  .about-me__text {
    width: 48%;
    margin-right: 40px;
  }
}

@media (max-width: 992px) {
  .about-me__text {
    width: 100%;
    margin-right: 0;
  }
}

.skils-sub-heading {
  padding: 20px 0;
}

.progress-wrap {
  width: 100%;
  margin-bottom: 30px;
}

.progress-wrap h3 {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 500;
}

.progress {
  height: 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #e6e6e6;
  overflow: visible;
}

.progress-bar {
  background: #c18f59;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 12px;
  line-height: 1.2;
  color: #000000;
  font-weight: 600;
  position: relative;
  overflow: visible;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}

.progress-bar:after {
  position: absolute;
  top: -2px;
  right: 0;
  width: 34px;
  height: 34px;
  content: '';
  background: #3e64ff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  opacity: 0;
}

.progress-bar span {
  position: absolute;
  top: -38px;
  right: 0;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}


.fh5co-projects {
  margin-bottom: 122px;
}

.fh5co-projects .universal-h2 {
  margin-bottom: 50px;
  padding-bottom: 20px;
}



@media (max-width: 1250px) {
  .fh5co-projects {
    margin-bottom: 60px;
  }
}

.project-img {
  width: 200px;
}



.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 70px;
}

@media (max-width: 559px) {
  .projects {
    justify-content: space-around;
  }
}

.single-project {
  margin-bottom: 20px;
  text-align: center;
}

.single-project .single-project__img {
  position: relative;
  display: block;
  font-size: 0;
}

.single-project .single-project__img .single-project_download {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transition: 0.3s ease;
}

.single-project .single-project__img .single-project_download img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.single-project .single-project__img:hover .single-project_download {
  visibility: visible;
  opacity: 0.7;
}

.single-project .single-project__title {
  margin: 19px 0 18px;
  font-size: 18px;
}

.single-project .single-project__price {
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  color: #c18f59;
}

@media (max-width: 1250px) {
  .single-project {
    margin-right: 10px;
  }

  .single-project:last-child {
    margin-right: 0;
  }
}


.fh5co-social .site-container {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
  margin-top: 20px;
}
.social-subheading-follow{
  margin-bottom: 35px;
  margin-top: 85px;
}

@media (max-width: 620px) {
  .fh5co-social {
    padding: 40px 0;
  }
}

/* .social {
  width: 100%;
  height: 300px;
} */
/* .social-subheading-follow{
  width: 100%;
  height: auto;
} */
.social h5 {
  font-size: 24px;
  color: #fff;
}

@media (max-width: 620px) {
  .social {
    flex-direction: column;
  }
}

.social-icons a {
  position: relative;
  border: 1px solid white;
  border-radius: 50%;
  padding: 13px 23px;
  margin-right: 10px;
  transition: 0.3s ease;
}

.social-icons a:hover {
  background-color: #777;
  border-color: transparent;
}

.social-icons img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 620px) {
  .social-icons {
    margin: 35px 0;
  }
}

.site-footer {
  padding-top: 120px;
  background-color: #343434;
}

@media (max-width: 1250px) {
  .site-footer {
    padding-top: 60px;
  }
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 95px;
}

.footer-inner h5 {
  margin-bottom: 30px;
  font-size: 20px;
  letter-spacing: 2px;
  color: #fff;
}

@media (max-width: 1250px) {
  .footer-inner {
    padding-bottom: 50px;
    flex-direction: column;
    align-items: center;
  }
}

.footer-info {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-info .footer-info__right p {
  height: auto;
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
}

.social-icon-div {
  display: flex;
  justify-content: center;
}

.footer-info .footer-info__right .social-icons {
  margin-top: 27px;
}

.footer-info .footer-info__right .social-icons a {
  padding: 9px 19px;
}

@media (max-width: 1250px) {
  .footer-info {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 620px) {
  .footer-info {
    flex-direction: column;
    align-items: center;
  }
}


.footer-bottom {
  padding: 25px 0;
  background-color: #2d2d2d;
}

.footer-bottom-inner {
  display: flex;
  justify-content: center;
}

.footer-bottom-inner p {
  color: #777;
}

.footer-bottom-inner a {
  color: #c18f59;
  text-decoration: none;
  transition: 0.3s ease;
}

.footer-bottom-inner a:hover {
  color: #777;
}

.footer-bottom-inner .footer-bottom__img img {
  margin-right: 25px;
}

.footer-bottom-inner .footer-bottom__img img:last-child {
  margin-right: 0;
}

@media (max-width: 992px) {
  .footer-bottom-inner {
    flex-direction: column;
    align-items: center;
  }

  .footer-bottom-inner p {
    font-size: 14px;
    margin-bottom: 20px;
  }
}

.light {
  color: #fff;
}